<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>
<%= @customer.name %><br>
<%= @customer.name_kana %><br>
<%= @customer.phone_number %><br>
<%= @customer.email %><br>
<%= link_to "会員情報を編集する", edit_customer_path(@customer) %>



